html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

#map_canvas {
    height: 100%;
    width: 100%;
    margin:0 auto;  }


#locate {
	position: absolute;
    height: auto;
	width: 100px;
	padding: 5px 0;
	bottom: 30px;
	left: 20px;
	text-align: left;
    border: 1px solid black;
    z-index: 2;
    }


#locate button{
width: 100px;
height: auto;
cursor: pointer; 
border: #d5ba83 2px solid;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 10px 15px;
color: #d5ba83;
text-transform: uppercase;
font-weight: bold;
position: relative;
text-align: center;
background-color: #422a21;
font-size: 11px;
font-weight: bold;
font-family: 'OpenSans', sans-serif;
-webkit-font-smoothing: antialiased;
}   

#content {
	position: absolute;
    height: auto;
    right: 50px;
	padding: 5px 0;
	top: 0px;
    border: 2px solid black;
    z-index: 3;
    }


#content button{
width: auto;
height: auto;
cursor: pointer; 
border: #d5ba83 2px solid;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 10px 15px;
color: #d5ba83;
text-transform: uppercase;
font-weight: bold;
position: relative;
text-align: center;
background-color: #422a21;
font-size: 11px;
font-weight: bold;
font-family: 'OpenSans', sans-serif;
-webkit-font-smoothing: antialiased;
}
    



#tooltip {
  position:absolute;
  width:100px;;
  height:auto;
  padding:15px;
  z-index:1000;
  display:none;
  opacity: 0.9;
  -moz-border-radius: 15px;
border-radius: 15px;
  background:#E25E98;
  border-color:#D1B100!important;
  font:normal 12px Arial!important;
  color:#FFFFFF;
}

#hover home_name{
}



#hover {
position:absolute;
  width:auto;
  height:auto;
  padding:10px;
  z-index:100;
  display:none;
  box-shadow: 5px 5px 3px #888888;
  opacity: 1;
  background:#F1EEC5;
  border-color:#D4C282!important;
  font:normal 12px Arial!important;
  color:#936C1F;
}

#tooltip a {
color: green;
text-decoration: underline;
}

#tooltip label {
padding: 5px 0 0px 0;
font-size: 13px;
color:#006614;
  line-height: 110%;
-webkit-font-smoothing: antialiased;}


button {
background: white;
color:pink}

#tooltip market {font-weight:bold;
color:#00400D;
font-size: 14px;

  line-height: 100%;
padding-right: 5px;
text-align: center;
-webkit-font-smoothing: antialiased;
}